.div1 {
    background: rgb(133, 53, 102);
    border: 15px solid black;
    width: 75%;
    height: 185px;
    padding: 50px;
    margin-bottom: 50px;
}
.div2 {
    background: white;
    border: 15px solid #0404a3;
    height: 75%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
p {
    color: blue;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}
.div_A {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.filha1_A {
    background:blue ;
    height: 30px;
    width: 70%;
}
.filha2_A {
    background: purple;
    height: 30px;
    width: 40%;
}
.filha3_A {
    background: green;
    height: 30px;
    width: 60%;
}
.filha4_A {
    background: yellow;
    height: 30px;
    width: 50%;
}
.div_B {
    width: 100%;
    height: 50px;
    display: flex;
}
.filha1_B {
    background: red;
    height: 30px;
    width: 40%;
}
.filha2_B {
    background: #3c3cfa;
    height: 30px;
    width: 25%;
}
.filha3_B {
    background: #67ff02;
    height: 30px;
    width: 35%;
}